@import 'tailwindcss';

@theme {
  /* classname 'bg-{colorname}' or 'text-{colorname}' and so on */
  --color-primary: rgb(193 193 255);
  --color-surface-tint: rgb(193 193 255);
  --color-on-primary: rgb(42 42 96);
  --color-primary-container: rgb(65 65 120);
  --color-on-primary-container: rgb(226 223 255);
  --color-secondary: rgb(198 196 221);
  --color-on-secondary: rgb(47 47 66);
  --color-secondary-container: rgb(69 69 89);
  --color-on-secondary-container: rgb(226 224 249);
  --color-tertiary: rgb(233 185 211);
  --color-on-tertiary: rgb(70 38 58);
  --color-tertiary-container: rgb(95 60 81);
  --color-on-tertiary-container: rgb(255 216 235);
  --color-error: rgb(255 180 171);
  --color-on-error: rgb(105 0 5);
  --color-error-container: rgb(147 0 10);
  --color-on-error-container: rgb(255 218 214);
  --color-background: rgb(19 19 24);
  --color-on-background: rgb(228 225 233);
  --color-surface: rgb(19 19 24);
  --color-on-surface: rgb(228 225 233);
  --color-surface-variant: rgb(71 70 79);
  --color-on-surface-variant: rgb(200 197 208);
  --color-outline: rgb(145 143 154);
  --color-outline-variant: rgb(71 70 79);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(228 225 233);
  --color-inverse-on-surface: rgb(48 48 54);
  --color-inverse-primary: rgb(88 89 146);
  --color-primary-fixed: rgb(226 223 255);
  --color-on-primary-fixed: rgb(20 19 74);
  --color-primary-fixed-dim: rgb(193 193 255);
  --color-on-primary-fixed-variant: rgb(65 65 120);
  --color-secondary-fixed: rgb(226 224 249);
  --color-on-secondary-fixed: rgb(26 26 44);
  --color-secondary-fixed-dim: rgb(198 196 221);
  --color-on-secondary-fixed-variant: rgb(69 69 89);
  --color-tertiary-fixed: rgb(255 216 235);
  --color-on-tertiary-fixed: rgb(47 17 36);
  --color-tertiary-fixed-dim: rgb(233 185 211);
  --color-on-tertiary-fixed-variant: rgb(95 60 81);
  --color-surface-dim: rgb(19 19 24);
  --color-surface-bright: rgb(57 56 63);
  --color-surface-container-lowest: rgb(14 14 19);
  --color-surface-container-low: rgb(27 27 33);
  --color-surface-container: rgb(31 31 37);
  --color-surface-container-high: rgb(42 41 47);
  --color-surface-container-highest: rgb(53 52 58);
  /* classname 'font-{name}' */
  --font-primary: var(--font-roboto-mono);
  --font-branding: var(--font-open-sans);
  /* classname 'font-{weight}' */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  /* classname 'text-{size}' */
  --text-xs: 12px;
  --text-s: 14px;
  --text-m: 16px;
  --text-l: 20px;
  --text-xl: 24px;
  /* classname 'rounded-{size}' */
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--color-outline);
  -webkit-text-fill-color: var(--color-on-surface);
  -webkit-box-shadow: 0 0 0px 1000px var(--color-surface-container-highest)
    inset;
  caret-color: var(--color-on-surface);
  transition: background-color 5000s ease-in-out 0s;
}
